.modal {
  max-width: 450px;
  width: 450px;
}

.modal.wide {
  max-width: 550px;
  width: 550px;
}

@media (max-width: 700px) {
  .modal {
    max-width: inherit;
    width: inherit;
  }

  .modal.wide {
    max-width: inherit;
    width: inherit;
  }
}

.popup-container .popup-wallet-container,
.popup-container .popup-markets-container,
.popup-container .popup-transaction-container,
.popup-container .popup-search-container {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.popup-container .popup-markets-container .asset-info {
  text-align: center;
}

.popup-container .popup-markets-container .asset-info img {
  height: 30px;
  width: 30px;
}

.popup-container .popup-markets-container .asset-info h4 {
  font-weight: 100;
  font-family: 'Gilroy-Bold', sans-serif;
}

.popup-container .popup-markets-container .popup-options {
  width: 100%;
}

.popup-container .popup-markets-container .popup-options .options-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.popup-container
  .popup-markets-container
  .popup-options
  .options-buttons
  button {
  color: #3251bf;
  background-color: transparent;
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 3px solid transparent;
  font-weight: 900;
  border-radius: 0;
}

.popup-container
  .popup-markets-container
  .popup-options
  .options-buttons
  button:hover {
  border-bottom: 3px solid #3251bf;
}

.popup-container .popup-markets-container .popup-options .popup-info-container {
  width: 100%;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .info-dashboard-section {
  width: 100%;
  position: relative;
  background-color: rgba(211, 211, 211, 0.6);
  padding: 10px;
  border-radius: 10px;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .info-dashboard-section
  h2 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: 30px;
  font-family: 'Gilroy-SemiBold', sans-serif;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .info-dashboard-section
  h2
  input {
  margin-bottom: 5px;
  margin-right: 60px;
  overflow: hidden;
  padding-left: 20px;
  width: calc(100% - 40px);
  z-index: 10;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .info-dashboard-section
  .max {
  margin-bottom: 5px;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .info-dashboard-section
  .max
  button {
  background-color: #3251bf;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .info-dashboard-section
  p {
  font-size: 12px;
  text-align: right;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .all-info {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.popup-container
  .popup-markets-container
  .popup-options
  .popup-info-container
  .all-info
  .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popup-container .popup-markets-container .popup-options .buttons-container {
  width: 100%;
}

.popup-container .supply-buttons,
.popup-container .borrow-buttons,
.popup-container .repay-buttons,
.risk-buttons {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .popup-container .supply-buttons,
  .popup-container .borrow-buttons,
  .popup-container .repay-buttons,
  .risk-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.popup-container
  .popup-markets-container
  .popup-options
  .buttons-container
  button {
  width: 100%;
  margin-bottom: 20px;
}

.popup-container
  .popup-markets-container
  .borrow-popup
  .popup-info-container
  .info-dashboard-section {
  padding: 20px 10px;
}

.risk-popup {
  padding: 20px;
}
.risk-buttons {
  width: 100%;
}
.risk-buttons button {
  width: 100%;
}
.risk-popup .risk-circle {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 600px;
  border-right: 8px solid lightgray;
  border-bottom: 8px solid red;
  border-left: 8px solid red;
  border-top: 8px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  margin-top: 40px;
}
.risk-popup .risk-circle p {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.risk-popup .risk-text {
  margin: 40px 0;
  font-weight: 100;
  line-height: 20px;
}

.risk-popup .risk-text a {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 100;
}

.popup-container h3 {
  font-size: 25px;
  margin-bottom: 25px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.popup-container .popup-wallet-container .wallets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.popup-container .popup-wallet-container .wallets-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 20px 15px;
  font-size: 18px;
  font-family: 'Gilroy-Regular', sans-serif;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.popup-container .popup-wallet-container .wallets-container button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.popup-container
  .popup-wallet-container
  .wallets-container
  button:nth-child(3) {
  border: none;
}

.popup-container .popup-wallet-container .wallets-container button img {
  height: 25px;
  width: auto;
}
.dashboard-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 30px;
  text-align: center;
}

.transaction-modal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 4px;
  /* border: 1px solid orange !important;
    background: var(--Tetriary-Gray-gray-500, #2B2E34); */
  text-align: center;
  padding: 10px;
  align-items: center;
}

.liquidation-modal {
  border-radius: 4px;
  /* border: 1px solid orange !important;
    background: var(--Tetriary-Gray-gray-500, #2B2E34); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  min-height: 300px;
  height: 100%;
}

.liquidation-modal h3 {
  font-size: 25px;
  margin-bottom: 25px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.liquidation-modal .wallets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 85%;
  border-radius: 4px;
}

.liquidation-modal .wallets-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 30px 0;
  font-size: 18px;
  font-family: 'Gilroy-Regular', sans-serif;
  border-bottom: 1px solid lightgray;
}

.liquidation-modal .wallets-container button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.liquidation-modal .wallets-container button:nth-child(5) {
  border: none;
}

.liquidation-modal .wallets-container button img {
  height: 25px;
  width: auto;
}

.closeHidden {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  height: 30px;
  width: 30px;
  background-color: white;
}
